---
interface Props {
  id: string;
  title: string;
  alt?: boolean;
}
const { id, title, alt = false } = Astro.props;
---
<section {id} class:list={['section', { 'section--alt': alt }]}>
  <div class="section__container">
    <h2 class="section__title">{title}</h2>
    <slot />
  </div>
</section>
